In [2]:
import pandas as pd

In [4]:
csv_df = pd.read_csv('raw_data.csv')

In [11]:
df = pd.DataFrame(csv_df)
df

                                                     text  label
0       Wall St. Bears Claw Back Into the Black (Reute...      2
1       Carlyle Looks Toward Commercial Aerospace (Reu...      2
2       Oil and Economy Cloud Stocks' Outlook (Reuters...      2
3       Iraq Halts Oil Exports from Main Southern Pipe...      2
4       Oil prices soar to all-time record, posing new...      2
...                                                   ...    ...
127595  Around the world Ukrainian presidential candid...      0
127596  Void is filled with Clement With the supply of...      1
127597  Martinez leaves bitter Like Roger Clemens did ...      1
127598  5 of arthritis patients in Singapore take Bext...      2
127599  EBay gets into rentals EBay plans to buy the a...      2

[127600 rows x 2 columns]

In [16]:
df[df['label'] == 1]['text'].iloc[0]

"Phelps, Thorpe Advance in 200 Freestyle (AP) AP - Michael Phelps took care of qualifying for the Olympic 200-meter freestyle semifinals Sunday, and then found out he had been added to the American team for the evening's 400 freestyle relay final. Phelps' rivals Ian Thorpe and Pieter van den Hoogenband and teammate Klete Keller were faster than the teenager in the 200 free preliminaries."