In [2]:
import cleaning
from datasets import load_dataset
import pandas as pd

[nltk_data] Downloading package punkt to /home/mrrobot/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/mrrobot/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/home/mrrobot/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
dataset = load_dataset('ag_news')

# Junta os splits train/test em um único DataFrame
full_df = pd.concat([pd.DataFrame(dataset[split]) for split in dataset.keys()], ignore_index=True)

In [4]:
full_df

                                                     text  label
0       Wall St. Bears Claw Back Into the Black (Reute...      2
1       Carlyle Looks Toward Commercial Aerospace (Reu...      2
2       Oil and Economy Cloud Stocks' Outlook (Reuters...      2
3       Iraq Halts Oil Exports from Main Southern Pipe...      2
4       Oil prices soar to all-time record, posing new...      2
...                                                   ...    ...
127595  Around the world Ukrainian presidential candid...      0
127596  Void is filled with Clement With the supply of...      1
127597  Martinez leaves bitter Like Roger Clemens did ...      1
127598  5 of arthritis patients in Singapore take Bext...      2
127599  EBay gets into rentals EBay plans to buy the a...      2

[127600 rows x 2 columns]

In [10]:
df = full_df.iloc[:100].copy()

In [11]:
df

                                                 text  label
0   Wall St. Bears Claw Back Into the Black (Reute...      2
1   Carlyle Looks Toward Commercial Aerospace (Reu...      2
2   Oil and Economy Cloud Stocks' Outlook (Reuters...      2
3   Iraq Halts Oil Exports from Main Southern Pipe...      2
4   Oil prices soar to all-time record, posing new...      2
..                                                ...    ...
95  Gene Blocker Turns Monkeys Into Workaholics - ...      3
96  Dolphins Too Have Born Socialites (Reuters) Re...      3
97  What's in a Name? Well, Matt Is Sexier Than Pa...      3
98  UK Scientists Allowed to Clone Human Embryos (...      3
99  Russian Alien Spaceship Claims Raise Eyebrows,...      3

[100 rows x 2 columns]

In [12]:
df = cleaning.limpar_texto(df)

Limpando textos: 100%|██████████| 100/100 [00:00<00:00, 126.51it/s]

In [17]:
df['tokens'].iloc[5]

['stocks',
 'end',
 'up',
 'but',
 'near',
 'year',
 'lows',
 'reuters',
 'reuters',
 'stocks',
 'ended',
 'slightly',
 'higher',
 'on',
 'fridaybut',
 'stayed',
 'near',
 'lows',
 'for',
 'the',
 'year',
 'as',
 'oil',
 'prices',
 'surged',
 'past',
 '3646a',
 'barrel',
 'offsetting',
 'a',
 'positive',
 'outlook',
 'from',
 'computer',
 'makerdell',
 'inc',
 'dello']